<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruleta GE Echeverría</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script>const ESTACION_ID = {{ estacion_id }};</script>
    <a href="/logout_ruleta" style="position: fixed; bottom: 15px; right: 15px; background: rgba(0, 0, 0, 0.6); color: white; padding: 8px 12px; text-decoration: none; border-radius: 8px; font-size: 12px; font-family: Arial, sans-serif; z-index: 9999; border: 1px solid rgba(255,255,255,0.3); transition: 0.3s;" onmouseover="this.style.background='#e74c3c'" onmouseout="this.style.background='rgba(0,0,0,0.6)'">Cerrar Sesión</a>
</head>
<body>

    <div class="contenedor-principal">
        <h1>¡Girá y Ganá con {{ nombre_estacion }}!</h1>
        
        <div class="contenedor-ruleta">
            <div class="flecha">▼</div>
            <canvas id="canvas-ruleta" width="350" height="350"></canvas>
            
            <div class="centro-logo">
                <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Grupo GE">
            </div>
        </div>

        <button id="btn-girar" class="btn-primario">GIRAR RULETA</button>
    </div>

    <div id="modal-premio" class="modal oculto">
        <div class="contenido-modal animacion-fiesta">
            <h2 style="color: #005CAB; font-size: 28px;">🎉 ¡Tenemos un resultado! 🎉</h2>
            
            <img id="img-premio" src="" alt="Premio" style="max-width: 150px; max-height: 150px; display: none; margin: 0 auto 15px auto; object-fit: contain;">
            
            <p id="texto-premio" style="font-size: 22px; margin-bottom: 20px;">Calculando...</p>
            
            <form id="formulario-datos">
                <p style="font-weight: bold; color: #333;">Completá tus datos para el canje:</p>
                <input type="text" id="nombre" placeholder="Nombre y Apellido" required>
                <input type="number" id="dni" placeholder="DNI" required>
                <input type="email" id="email" placeholder="Correo Electrónico" required>
                <input type="tel" id="telefono" placeholder="Teléfono" required>
                <button type="submit" class="btn-secundario">Reclamar Premio</button>
            </form>
            
            <button id="btn-cerrar-modal" class="btn-primario oculto" style="margin-top: 15px; width: 100%;">Finalizar</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/ruleta.js') }}"></script>
</body>
</html>

